<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Parking UNPAR - Welcome</title>
    <link rel="stylesheet" href="css/styleWelcome.css">
</head>

<body>

    <div class="mobile-container">
        <div class="bg-container">
            <img src="assets/background.png" alt="Gedung PPAG" class="bg-image">
            <div class="overlay-gradient"></div>
        </div>

        <div class="content">
            <h1 class="text-welcome">Welcome!</h1>

            <div class="bottom-card">
                <div class="wave-decoration"></div>

                <div class="card-content">
                    <h2 class="text-app-name">
                        Smart<br>
                        Parking<br>
                        UNPAR
                    </h2>

                    <img src="assets/logo-unpar.png" alt="Logo UNPAR" class="logo">
                </div>
            </div>
        </div>
    </div>

    <script>
        setTimeout(function () {
            // Arahkan ke URL /login
            window.location.href = '/login';
        }, 3000); // 3000 milidetik = 3 detik
    </script>

</body>

</html>